.container-tagline{
    
    background-image: url("../img/bg.jpg");
    height: 600px;
    background-position: bottom;
    background-size: cover;
}
.Project{
    color: rgb(82, 126, 210);
}
.cuerpo{
    padding: 16px 0px 16px 0px;
}
.card-text{
    font-size: small;
}