body{
    background: white;
}
.linea-first-heading{
    height: 1px;
    color:gray;    
}
.titulo{
    font-size:9cqmax ;
    font-weight: 325;
}
.subtitulo{
    font-size: 6cqmax ;
    font-weight: 325;
}

.Project{
    color: rgb(82, 126, 210);
}
.cuerpo{
    padding: 16px 0px 16px 0px;
}
.card-text{
    font-size: small;
}
