<div class="container-fluid p-0 tagimg mb-5 position-relative aling-items">
    <img src="assets/img/bg.jpg" alt="edificio" class="img-fluid">

    <div class="container-fluid p-4 position-absolute top-50 start-50 translate-middle">
        <div class="row">
            <div class="col-12 text-center p-3 mb-2 bg-white text-dark">
                <h1>One Page Wonder</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center p-3 mb-2 bg-white text-dark">
               <h2> Will Knock Your Socks Off</h2>
            </div>
        </div>
    </div>
</div>