<!-- <div class="container-fluid p-0 tagimg mb-5 position-relative">
    <img src="assets/img/bg.jpg" alt="edificio" class="img-fluid">

        <div class="container-fluid p-4 mt-5 position-absolute top-0 start-50 translate-middle-x">
            <div class="row">
                <div class="col-12 text-center pl-3 pr-3 pt-0 pb-0 mb-2 bg-white text-dark">
                    <h1 class="titulo d-none d-sm-block"><strong>One Page Wonder</strong></h1>

                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center pl-3 pr-3 pt-0 pb-0 mb-2 bg-white text-dark display-2">
                    <h2 class="subtitulo d-none d-sm-block"><strong>Will Knock Your Socks Off</strong></h2>
                </div>
            </div>
        </div>
</div> -->